

button {
    border-radius: 10px;
    border: none;
    padding: 20px;
    font-weight: bold;
    font-size: 15px;
    margin-top: 20px;
    background-color: rgba(54, 189, 54, 0.648);
}
table{
    border: 1px solid black;
}
td a{
    color: black;
}
a:hover{
    color: rgba(0, 0, 0, 0.679);
}